#################################################
#               Mac OSX                         #
#################################################
.DS_Store
.Thumbs

#################################################
#               Jekyll                          #
#################################################
_site
_archive

#################################################
#               Code                            #
#################################################
    # OCaml
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
    # Ruby
.rbenv-version
.rvmrc

#################################################
#               Other                           #
#################################################
CNAME