//boxshadow
@mixin boxshadow($b){
	box-shadow: ($b);
	-webkit-box-shadow: ($b);
	-moz-box-shadow: ($b);
}

@mixin all-transition() {
	-webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}